.container {
    margin: 0 auto;
    width: 400px;
}

.textContainer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.iconContainer {
    > div {
        display: inline-block;
        margin: 10px;
    }
}